PORT=5001
MONGODB_URI=mongodb+srv://maskiryz23_db_user:ETNZZSMG1XoC1xw1@intrackreal2.u5bdhqi.mongodb.net/worktrack?retryWrites=true&w=majority&appName=Intrackreal2
JWT_SECRET=e33b8294f314de1e0defa97a9ae4212fc7b0742bda5dc375774064fee0eb8ed0
JWT_EXPIRES_IN=8h

# Nodemailer (Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=email@gmail.com
MAIL_PASS=app_password_gmail
MAIL_FROM="WorkTrack <email@gmail.com>"

# WhatsApp (opsional)
WHATSAPP_ENABLED=false

# File upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760

# App
APP_URL=http://localhost:5001
NODE_ENV=development
